<!DOCTYPE html>
<html>
<head>
  <title>Plot</title>
</head>
<body>

<h1>Image Show</h1>

<h2>A Line Chart to plot the issues for every Repo</h2>
<img src="./static/line_chart_issues.png" alt="line_chart_issues">

<h2>A Bar Chart to plot the issues created for every month for every Repo</h2>
<img src="./static/bar_chart_issues_created.png" alt="bar_chart_issues_created">

<h2>A Bar Chart to plot the stars for every Repo</h2>
<img src="./static/bar_chart_stars.png" alt="bar_chart_stars">

<h2>A Bar Chart to plot the forks for every Repo</h2>
<img src="./static/bar_chart_forks.png" alt="bar_chart_forks">

<h2>A Bar Chart to plot the issues closed for every week for every Repo</h2>
<img src="./static/bar_chart_issues_closed.png" alt="bar_chart_issues_closed">

<h2>A Stack-Bar Chart to plot the created and closed issues for every Repo</h2>
<img src="./static/stack_bar_chart_created_closed_issues.png" alt="stack_bar_chart_created_closed_issues">

</body>
</html>
